
p {
  font-family: Comic Sans MS;
}
.gw2-title {
  font-size: 30px;
  margin-left: 20px;
  font-weight: bold;
  font-style: italic;
}

.builds {
  font-size: 30px;
  margin-left: 20px;
  font-weight: bold;
  font-style: italic;
}

.gw2-stuff {

  width:300px;
  display: inline-block;

}

.useful-links {

  width: 600px;
  display: inline-block;
  
}

.links {
font-size: 30px;
margin-left: 20px;
font-weight: bold;
font-style: italic;
}
.line {
  color: brown;
}
